.main-background{
    background: url(./chairs-g5edc6d380_1920.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.main-text{
    text-align: center;
    padding-bottom: 150px;
}
.main-text h2{
    color: rgb(70, 70, 70);
    font-size: 30px;
}
.main-text h1{
    color: rgb(70, 70, 70);
    font-size: 38px;
}
.main-text h1 span{
    color: var(--maincolor);
} 
.book-section{
    padding: 2rem 7%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-book{
    width: 100%;
    background: black;
    display: flex;
  flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.inner-book input{
    padding: 1rem 2rem;
    margin: .5rem 0;

}
.book-btn{
    padding: 1.1rem 2rem;
    background: var(--maincolor);

}
.book-btn a{
    color: white;
    font-size: 1.5rem;
}
.main-hotel{
    padding: 2rem 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.award-winning-hotel h1{
    color: black;
    font-size: 40px;
    text-align: center;
    padding: 2rem ;
}
.award-winning-hotel h1 span{
    color: var(--maincolor);
}
.inner-award{
    flex: 1 1 300px;
}
.inner-award h2,p{
    text-align: center;
}
.inner-award h2{
    font-size: 30px;
    padding: 1rem;
}
.inner-award p{
    font-size: 1.7rem;
    padding: 2rem;
}
.inner-award img{
    width: 100%;
}


