@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

.singlepage__container{
display:flex;
justify-content:center;
align-items: center;
width: 90vw;
margin: auto;
}
.right{
  margin-left: 5vw;
}
.right > div{
margin-bottom: 5vh;}
.info{
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
}
.singleprice span { 
  color : #d1a056;

}
.singledesc p { 
  margin-top:1vh;
  text-align: justify;
}
.singlebutton button {
  padding : 0.5rem 1rem;
  border-radius: 6px;
  margin-right: 1vw;
  background-color: #a5a5a5;
  font-size: 1.1em;
  cursor: pointer;
}
.singlebutton button:not(:last-child){
  background-color: #d1a056;
}
